<!DOCTYPE html>
<html>
<head>

<title>Split Example</title>

</head>
<body>
  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    <p>Powered by <a href="http://github.com/andrew/split">Split</a> v<%=Split::VERSION %></p>
  </div>
</body>
</html>